img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

a {
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
}
