img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
center {
    text-align: center;
    padding-top 198px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

a {
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
}
.gb_P {
    float: right;
}

.gb_rf {
    float: left;
}
.gb_b {
    text-align: center;
}

p {
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}

.fbar {
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    color: rgba(0,0,0,.54);
    font-size: small;
    border-top: 1px solid #e4e4e4;
    line-height: 30px;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}

.gb_fl {
    float: left;

}

.gb_fr {
    float: right;
}

span {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    font-size: 14px;
    border-bottom: 1px solid #e4e4e4;
}

.li {
    display: inline;
    padding: 0 8px;
}